{% extends 'base-back.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('Back-office/comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comment_index_back') }}">back to list</a>

    {{ include('Back-office/comment/_delete_form.html.twig') }}
{% endblock %}
