{% extends 'base-back.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div>
<br>
    <h1>Comment</h1>
    <input type="text" class="form-control" placeholder="Search" id="searchDynamic">
    <br>
    <div class="card">
        <table class="table" >
            <thead>
            <tr>

                <th>Author</th>
                <th>Content</th>
                <th>Date</th>
                <th>Likes</th>
                <th>actions</th>
            </tr>
            </thead>
        </table>
    <table class="table" id="commentDynamic">
        <thead>
            <tr>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
    </div>


        <script>
            const commentHolder = document.getElementById('commentDynamic');
            const searchField = document.getElementById('searchDynamic');
            console.log(searchField.value);
            function getComments(c) {
                const content = searchField.value;
                const PATH = content ? "/comment/sayebni/" + content : "/comment/searchAll";
                fetch(PATH, {
                    method: 'GET',
                }).then(res => res.json()).then((data) => {
                    commentHolder.innerHTML = "";
                    data.forEach(
                        comment => {
                            commentHolder.innerHTML += `<tr>

                <td>${ comment.author }</td>
                <td>${ comment.content }</td>
                <td>${ comment.date }</td>
                <td>${ comment.likes }</td>
                <td>
                    <a href="/comment/Back/${comment.id}" class="btn btn-outline-success btn-fw">show</a>
                    {#<a href="{{ path('app_comment_edit_back', {'id': comment.id}) }}" class="btn btn-outline-warning btn-fw">edit</a>#}
                </td>
            </tr> `

                        })
                }).catch((err) => console.log(err));
            }

            getComments(null)
            searchField.addEventListener('change', getComments)
        </script>



{% endblock %}
