{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="content" style="display: flex;align-items: center; border: 30px solid orange
;justify-content: center;">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, { 'label':'Username', 'attr': {'placeholder' :'type a username...' } }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password', 'attr': {'placeholder' :'choose your password...' }
        }) }}
        <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                    </br>

        <button type="submit" class="btn btn-primary">Register</button>
        
       
    {{ form_end(registrationForm) }}
      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

              </div>
    </div>
    
{% endblock %}
