{% extends 'base-front.html.twig' %}

{% block title %}New Experience{% endblock %}

{% block body %}
<div class="site-section">
<div class="container">
<div class="row">
<div class="col-md-20 blog-content">
    <h1>Create new Experience</h1>

   {{ include('Front-office/experience/_form.html.twig') }}


    {# <div class="comment-form-wrap pt-5">


                  <div class="form-group ">
                    <label for="name">Title *</label>
                    <input type="text" name="form[title]" class="form-control" required="required"/>
                  </div>


                  <div class="form-group">
                    <label for="message">Content</label>
                    <textarea name="experience[content]" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                 <button class="btn btn-primary btn-md text-white">{{ button_label|default('Save') }}</button>
                
            
              </div>
</div>#}

    <a href="{{ path('app_experience_index_front') }}">back to list</a>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
