{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <div class="add-a-booking">
    <p style="font-size:25px;font-family:Arial Black;color:#ffa233;margin:15px">Make a booking</p>


    {{ include('booking/_form.html.twig') }}
    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                

              </div>

    
    </div>
{% endblock %}