<!doctype html>
<html lang="en">

  <head>
    <title>Trips &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/front/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/front/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/front/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/front/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/front/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/front/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


   

   


































































































   
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html" class="font-weight-bold">
                  <img src="/front/images/logo.png" alt="Image" class="img-fluid">
                </a>
              </div>
            </div>

            <div class="col-9  text-right">
             

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

             

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="{{ path('app_stay_index') }}" class="nav-link">Home</a></li> 
                  <li><a href="{{ path('app_stay_new') }}" class="nav-link">My Stay</a></li>
                  <li><a href="{{ path('MyBookings') }}" class="nav-link">My Bookings</a></li>
                  <li ><a href="index.html" class="nav-link">Rankings</a></li>
                  <li ><a href="index.html" class="nav-link">Feedbacks</a></li>

                  <li><a href="about.html" class="nav-link">About</a></li>
                  <li><a href="trips.html" class="nav-link">Trips</a></li>
                  <li><a href="blog.html" class="nav-link">Blog</a></li>
                  <li><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>

           
          </div>
        </div>

      </header>

   













































<div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url('/front/images/hero_1.jpg')">
       
       
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5" data-aos="fade-right">
              <h1 class="mb-3 text-white">Let's Enjoy The Wonders of Nature</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.</p>
              <p class="d-flex align-items-center">
                <a href="https://vimeo.com/191947042" data-fancybox class="play-btn-39282 mr-3"><span class="icon-play"></span></a>
                <span class="small">Watch the video</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>








   
   
   
   
    <div class="site-section" style="max-height:10px;">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7" >
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Journey</span>
              <span class="subtitle-39191">Journey</span>
              <h3>Your Journey Starts Here</h3>
            </div>
          </div>
        </div>
       

      </div>
    </div>
    </div>
    {% block body %}
    {% endblock %}

    <script src="/front/js/jquery-3.3.1.min.js"></script>
    <script src="/front/js/jquery-migrate-3.0.0.js"></script>
    <script src="/front/js/popper.min.js"></script>
    <script src="/front/js/bootstrap.min.js"></script>
    <script src="/front/js/owl.carousel.min.js"></script>
    <script src="/front/js/jquery.sticky.js"></script>
    <script src="/front/js/jquery.waypoints.min.js"></script>
    <script src="/front/js/jquery.animateNumber.min.js"></script>
    <script src="/front/js/jquery.fancybox.min.js"></script>
    <script src="/front/js/jquery.stellar.min.js"></script>
    <script src="/front/js/jquery.easing.1.3.js"></script>
    <script src="/front/js/bootstrap-datepicker.min.js"></script>
    <script src="/front/js/isotope.pkgd.min.js"></script>
    <script src="/front/js/aos.js"></script>

    <script src="/front/js/main.js"></script>

  </body>

</html>
