{% block body %}
{{ form_start(form) }}

{{ form_row(form.q)}}

{{ form_row(form.p) }}

</div>

<button type="submit" class="btn btn-primary w=100">Chercher </button>

{{ form_end(form) }}

{% endblock %}