
{% block body %}

    
    <div class="my-custom-class-for-errors">
        
    </div>

    <div class="row" style="padding-bottom: 3%">
        <div class="col">
            <input type="text" id="user-description" class="form-control" placeholder="user full name" />
        </div>

        <div class="col">
            <button type="button" onclick="fetchUsersFromApi()" class="btn btn-primary w=100">Chercher </button>
        </div>
    </div>
{% endblock %}


