{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    
{% endblock %}

{% block js %}
    <script>
    function beforeRemove() {
        if(confirm('Are you sure you want to delete this item?')) {
            window.href = "{{ path('app_user_remove', {'user': user.id}) }}";
        }
    }
    </script>
{% endblock %}