{% extends 'baseAdmin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="container py-5" style="padding-bottom: 0px">

         {{ include('user/_form.html.twig', {'button_label': 'Save'}) }}
    
    </div>
    
{% endblock %}
