<form method="post" action="{{ path('app_stay_delete', {'id': stay.id}) }}" onsubmit="return confirm('Are you sure you want to book this stay?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stay.id) }}">
    <button class="btn">Book now</button>
</form>