{% block body %}
{{ form_start(form) }}

{{ form_row(form.i)}}



</div>



{{ form_end(form) }}

<button type="submit" class="btn btn-primary w=100">Look for a stay      
   <img src="/front/images/magnifier.png" alt="Image"
  class="maskImg"
  /></button>
  </br>
</br>

{% endblock %}