

{% extends 'base.html.twig' %}

{% block title %}Edit Stay{% endblock %}

{% block body %}
    <h1>Edit Stay</h1>

    {{ include('stay/_form.html.twig', {'button_label': 'Update'}) }}
    

    <a href="{{ path('app_stay_index') }}">back to list</a>

    {{ include('stay/_delete_form.html.twig') }}
{% endblock %}
